html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	background: rgb(85,14,8);
	color: #ccc;
}

#container{
	width: 1000px;
	margin: 0 auto;
	height: 1500px;
}

#header{
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

#logo{
	width:180px;
	height: 150px;
	border: 2px solid gold;
	text-align: center;
}

#title1{
	font-size: 25px;
	margin-top: 14px;
	color: gold;
}

#title2{
	font-size: 25px;
	color: gold;
}

#title3{
	font-size: 50px;
	color: gold;
}

p{
	margin: 0;
}

#icon{
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 20px;
	padding: 0;
	margin: 0;
	height:50px;
	width:200px;
	background-image: linear-gradient(yellow,gold);
	border-radius: 5%;
	border: 2px solid gold;
	text-align: center;
	position: relative;
	top: 100px;
}

#fb{
	margin:5px;
	font-size: 40px;
	color: rgb(71,89,147);
}

#twitter{
	margin:5px;
	font-size: 40px;
	color: rgb(112,141,194)
}

#insta{
	margin:5px;
	font-size: 40px;
	color: silver;
}

#open{
	margin:5px;
	font-size: 35px;
	color: red;
}
